parameters:
    checkMissingIterableValueType: false
    excludes_analyse:
        - src/run.php
        - src/Configuration/HiveConfigRowDefinition.php
        - src/Configuration/HiveActionConfigRowDefinition.php
    ignoreErrors:
        - '#function preg_replace expects array\|string, string\|null given.#'
        - '#trim expects string, string\|null given.#'
