parameters:
    checkMissingIterableValueType: false
    excludes_analyse:
        - tests/functional/DatadirTestsProvider.php
        - src/run.php
        - src/Configuration/HiveConfigRowDefinition.php
        - src/Configuration/HiveActionConfigRowDefinition.php
    ignoreErrors:
        - '#invalid type \(array\|null\) supplied for foreach#'
        - '#function preg_replace expects array\|string, string\|null given.#'
        - '#expects string, string\|null given.#'
        - '#preg_replace_callback expects array\|string, string\|false given#'
